.element__vector {
  width: 32px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-color: #ffffff;
  margin-top: 5px;
  cursor: pointer;
}

.element__vector:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .element__vector {
    margin: 3px 6px;
  }
}
