.register__signin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  gap: 5px;

  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
