.header__register {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
}

.header__register:hover {
  opacity: 0.6;
}
