/* normalize */
@import url(../src/vendor/normalize.css);

/* fonts */
@import url(../src/vendor/fonts/fonts.css);

/* root */
@import url(../src/blocks/root/root.css);
/* page */
@import url(../src/blocks/page/page.css);

/* header */
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__logo/header__logo.css);
@import url(../src/blocks/header/__register/header__register.css);
@import url(../src/blocks/header/__entrance/header__entrance.css);
@import url(../src/blocks/header/__exit/header__exit.css);
@import url(../src/blocks/header/__email/header__email.css);
@import url(../src/blocks/header/__container/header__container.css);

/*profile*/
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__add/profile__add.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__button/profile__button.css);
@import url(../src/blocks/profile/__edit/profile__edit.css);
@import url(../src/blocks/profile/__info/profile__info.css);
@import url(../src/blocks/profile/__job/profile__job.css);
@import url(../src/blocks/profile/__name/profile__name.css);

/*element*/
@import url(../src/blocks/element/element.css);
@import url(../src/blocks/element/remover/element__remover.css);
@import url(../src/blocks/element/__group/element__group.css);
@import url(../src/blocks/element/__like/element__like.css);
@import url(../src/blocks/element/__mask-group/element__mask-group.css);
@import url(../src/blocks/element/__text/element__text.css);
@import url(../src/blocks/element/__vector/element__vector.css);
@import url(../src/blocks/element/__vector/_like/element__vector_like.css);

/*elements*/
@import url(../src/blocks/elements/elements.css);

/*footer*/
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__text/footer__text.css);

/*popup*/
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__body/popup__body-img.css);
@import url(../src/blocks/popup/__submit-buttom/popup__submit-buttom.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__input/_type/_active/popup__input-error_active.css);
@import url(../src/blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(../src/blocks/popup/__photo/popup__photo.css);
@import url(../src/blocks/popup/__textimg/popup__textimg.css);
@import url(../src/blocks/popup/_bigphoto/popup_bigphoto.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/popup/__close/popup__close.css);
@import url(../src/blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../src/blocks/popup/__figure/popup__figure.css);
@import url(../src/blocks/popup/__body/popup__body.css);
@import url(../src/blocks/popup/popup__text/popup__text.css);
@import url(../src/blocks/popup/__registr/popup__registr.css);
@import url(../src/blocks/popup/__image/popup__image.css);

@import url(../src/blocks/register/register.css);
@import url(../src/blocks/register/_welcome/register__welcome.css);
@import url(../src/blocks/register/__form/register__form.css);
@import url(../src/blocks/register/__input/register__input.css);
@import url(../src/blocks/register/__link/register__link.css);
@import url(../src/blocks/register/__signin/register__signin.css);
@import url(../src/blocks/register/__link/register__login-link.css);

@import url(../src/blocks/login/__link/login__link.css);
@import url(../src/blocks/login/__welcome/login__welcome.css);
@import url(../src/blocks/login/__form/login__form.css);
@import url(../src/blocks/login/__input/login__input.css);
