.header {
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: calc(100% - 2 * 5px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin: 0 auto;
  }
}
